In [1]:
pip install sklearn

Requirement already satisfied: sklearn in c:\users\rajes\anaconda\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\rajes\anaconda\lib\site-packages (from sklearn) (0.23.2)
Requirement already satisfied: scipy>=0.19.1 in c:\users\rajes\anaconda\lib\site-packages (from scikit-learn->sklearn) (1.5.2)
Requirement already satisfied: joblib>=0.11 in c:\users\rajes\anaconda\lib\site-packages (from scikit-learn->sklearn) (0.17.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\rajes\anaconda\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\rajes\anaconda\lib\site-packages (from scikit-learn->sklearn) (1.19.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("HousePrices.csv")

In [4]:
data

,Id,Dwell_Type,Zone_Class,LotFrontage,LotArea,Road_Type,Alley,Property_Shape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,Property_Sale_Price
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2068,942,60,RL,NaN,8755,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,GdPrv,NaN,0,6,2009,WD,Normal,214000
2069,943,90,RL,63.0,7711,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,Oth,Abnorml,150000
2070,944,90,RL,313.0,25000,Pave,NaN,Reg,Low,AllPub,...,0,NaN,NaN,NaN,0,6,2007,WD,Normal,143000
2071,945,20,RL,52.0,14375,Pave,NaN,IR1,Lvl,NoSeWa,...,0,NaN,NaN,NaN,0,1,2009,COD,Abnorml,137500
2072,946,50,RM,98.0,8820,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnWw,NaN,0,9,2009,WD,Normal,124900

In [5]:
data.isnull().sum()

Id                       0
Dwell_Type               0
Zone_Class               0
LotFrontage            320
LotArea                  0
                      ...
MoSold                   0
YrSold                   0
SaleType                 0
SaleCondition            0
Property_Sale_Price      0
Length: 81, dtype: int64

In [6]:
data.isnull()

,Id,Dwell_Type,Zone_Class,LotFrontage,LotArea,Road_Type,Alley,Property_Shape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,Property_Sale_Price
0,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2068,False,False,False,True,False,False,True,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2069,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
2070,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
2071,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
2072,False,False,False,False,False,False,True,False,False,False,...,False,True,False,True,False,False,False,False,False,False

In [7]:
miss_val = data.columns[data.isnull().any()]
data[miss_val].isnull().sum()

LotFrontage      320
Alley           1944
MasVnrType        14
MasVnrArea        14
BsmtQual          59
BsmtCond          59
BsmtExposure      61
BsmtFinType1      59
BsmtFinType2      60
Electrical         1
FireplaceQu      988
GarageType       113
GarageYrBlt      113
GarageFinish     113
GarageQual       113
GarageCond       113
PoolQC          2065
Fence           1669
MiscFeature     1993
dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2073 entries, 0 to 2072
Data columns (total 81 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   2073 non-null   int64
 1   Dwell_Type           2073 non-null   int64
 2   Zone_Class           2073 non-null   object
 3   LotFrontage          1753 non-null   float64
 4   LotArea              2073 non-null   int64
 5   Road_Type            2073 non-null   object
 6   Alley                129 non-null    object
 7   Property_Shape       2073 non-null   object
 8   LandContour          2073 non-null   object
 9   Utilities            2073 non-null   object
 10  LotConfig            2073 non-null   object
 11  LandSlope            2073 non-null   object
 12  Neighborhood         2073 non-null   object
 13  Condition1           2073 non-null   object
 14  Condition2           2073 non-null   object
 15  Dwelling_Type        2073 non-null   object
 16  HouseStyle           2073 non-null   object
 17  OverallQual          2073 non-null   int64
 18  OverallCond          2073 non-null   int64
 19  YearBuilt            2073 non-null   int64
 20  YearRemodAdd         2073 non-null   int64
 21  RoofStyle            2073 non-null   object
 22  RoofMatl             2073 non-null   object
 23  Exterior1st          2073 non-null   object
 24  Exterior2nd          2073 non-null   object
 25  MasVnrType           2059 non-null   object
 26  MasVnrArea           2059 non-null   float64
 27  ExterQual            2073 non-null   object
 28  ExterCond            2073 non-null   object
 29  Foundation           2073 non-null   object
 30  BsmtQual             2014 non-null   object
 31  BsmtCond             2014 non-null   object
 32  BsmtExposure         2012 non-null   object
 33  BsmtFinType1         2014 non-null   object
 34  BsmtFinSF1           2073 non-null   int64
 35  BsmtFinType2         2013 non-null   object
 36  BsmtFinSF2           2073 non-null   int64
 37  BsmtUnfSF            2073 non-null   int64
 38  TotalBsmtSF          2073 non-null   int64
 39  Heating              2073 non-null   object
 40  HeatingQC            2073 non-null   object
 41  CentralAir           2073 non-null   object
 42  Electrical           2072 non-null   object
 43  1stFlrSF             2073 non-null   int64
 44  2ndFlrSF             2073 non-null   int64
 45  LowQualFinSF         2073 non-null   int64
 46  GrLivArea            2073 non-null   int64
 47  BsmtFullBath         2073 non-null   int64
 48  BsmtHalfBath         2073 non-null   int64
 49  FullBath             2073 non-null   int64
 50  HalfBath             2073 non-null   int64
 51  BedroomAbvGr         2073 non-null   int64
 52  KitchenAbvGr         2073 non-null   int64
 53  KitchenQual          2073 non-null   object
 54  TotRmsAbvGrd         2073 non-null   int64
 55  Functional           2073 non-null   object
 56  Fireplaces           2073 non-null   int64
 57  FireplaceQu          1085 non-null   object
 58  GarageType           1960 non-null   object
 59  GarageYrBlt          1960 non-null   float64
 60  GarageFinish         1960 non-null   object
 61  GarageCars           2073 non-null   int64
 62  GarageArea           2073 non-null   int64
 63  GarageQual           1960 non-null   object
 64  GarageCond           1960 non-null   object
 65  PavedDrive           2073 non-null   object
 66  WoodDeckSF           2073 non-null   int64
 67  OpenPorchSF          2073 non-null   int64
 68  EnclosedPorch        2073 non-null   int64
 69  3SsnPorch            2073 non-null   int64
 70  ScreenPorch          2073 non-null   int64
 71  PoolArea             2073 non-null   int64
 72  PoolQC               8 non-null      object
 73  Fence                404 non-null    object
 74  MiscFeature          80 non-null     object
 75  MiscVal              2073 non-null   int64
 76  MoSold               2073 non-null   int64
 77  YrSold               2073 non-null   int64
 78  SaleType             2073 non-null   object
 79  SaleCondition        2073 non-null   object
 80  Property_Sale_Price  2073 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 1.3+ MB

In [9]:
data['LotFrontage'].fillna((data['LotFrontage'].mean()),inplace=True)

In [10]:
data['BsmtUnfSF'].fillna(data['BsmtUnfSF'].mean(),inplace=True)
data['LotArea'].fillna(data['LotArea'].mean(),inplace=True)
data['OverallQual'].fillna(data['OverallQual'].mean(),inplace=True)
data['OverallCond'].fillna(data['OverallCond'].mean(),inplace=True)
data['MasVnrArea'].fillna(data['MasVnrArea'].mean(),inplace=True)

In [11]:
data.isnull().sum()

Id                     0
Dwell_Type             0
Zone_Class             0
LotFrontage            0
LotArea                0
                      ..
MoSold                 0
YrSold                 0
SaleType               0
SaleCondition          0
Property_Sale_Price    0
Length: 81, dtype: int64

In [12]:
x1 = data[['Dwell_Type','LotFrontage', 'LotArea','OverallQual','OverallCond','MasVnrArea',
'BsmtFinSF1','BsmtUnfSF','TotalBsmtSF','1stFlrSF','2ndFlrSF','GrLivArea','GarageArea',
'WoodDeckSF', 'OpenPorchSF']]  #independent
y1 = data['Property_Sale_Price']    #dependent
print(x1,y1)

      Dwell_Type  LotFrontage  LotArea  OverallQual  OverallCond  MasVnrArea  \
0             60    65.000000     8450            7            5       196.0
1             20    80.000000     9600            6            8         0.0
2             60    68.000000    11250            7            5       162.0
3             70    60.000000     9550            7            5         0.0
4             60    84.000000    14260            8            5       350.0
...          ...          ...      ...          ...          ...         ...
2068          60    72.056475     8755            8            4       298.0
2069          90    63.000000     7711            6            9         0.0
2070          90   313.000000    25000            4            6         0.0
2071          20    52.000000    14375            9            6       541.0
2072          50    98.000000     8820            9            9         0.0

      BsmtFinSF1  BsmtUnfSF  TotalBsmtSF  1stFlrSF  2ndFlrSF  GrLivArea  \
0            706        150          856       856       854       1710
1            978        284         1262      1262         0       1262
2            486        434          920       920       866       1786
3            216        540          756       961       756       1717
4            655        490         1145      1145      1053       2198
...          ...        ...          ...       ...       ...        ...
2068         772        220          992      1022      1038       2060
2069        1440          0         1440      1440         0       1440
2070           0       1632         1632      1632         0       1632
2071         111        354          819      1344         0       1344
2072        1088          0         1088      1188       561       1869

      GarageArea  WoodDeckSF  OpenPorchSF
0            548           0           61
1            460         298            0
2            608           0           42
3            642           0           35
4            836         192           84
...          ...         ...          ...
2068         390           0            0
2069           0         321            0
2070         576           0            0
2071         525           0          118
2072         456          48            0

[2073 rows x 15 columns] 0       208500
1       181500
2       223500
3       140000
4       250000
         ...
2068    214000
2069    150000
2070    143000
2071    137500
2072    124900
Name: Property_Sale_Price, Length: 2073, dtype: int64

In [13]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x1,y1)

LinearRegression()

In [15]:
model.score(x1,y1)

0.7301484228992423

In [16]:
model.coef_

array([-8.92284965e+00,  1.36022005e+00,  1.65255768e-01,  8.09560087e+03,
        1.62386778e+03,  4.73590447e+01,  2.29735335e+01,  9.38796718e+00,
        2.98559435e+01,  7.92997092e+01,  8.39680141e+01, -2.48064534e+01,
        7.32863374e+01,  4.88868408e+01,  5.85560387e+01])

In [17]:
house=model.predict([[70,85,12000,6,8,100,520,430,1024,950,850,1800,700,150,42]])
house

array([219696.36904045])

In [18]:
from sklearn.model_selection import train_test_split
X1_train, X1_test, y1_train, y1_test = train_test_split(x1, y1, test_size = 0.25, random_state=0)

In [19]:
from sklearn.linear_model import LinearRegression
lin_reg_mod = LinearRegression()
lin_reg_mod.fit(X1_train, y1_train)

LinearRegression()

In [21]:
pred = lin_reg_mod.predict(X1_test)
pred

array([100212.13951268, 162361.70095778, 258052.4005472 , 169839.95820108,
       109017.5165217 , 180333.33864283, 100641.98784044, 221430.91705674,
       222596.82410993, 149597.21924243, 117111.80687596, 218229.37922961,
       341928.16515755, 168354.12960485, 197694.0173465 , 253914.67858693,
       121952.13169696, 200683.62836471, 128386.86537668,  96547.70162494,
       169382.44072569, 184304.9251493 , 150741.56942364, 163378.07067669,
       189353.98635029, 207584.96724356, 201192.93326243,  75800.37555707,
       235754.59892216, 201168.64654963, 282613.00474524, 192710.53620389,
       137449.1956226 , 265444.38884026, 121455.4857672 , 135863.03288609,
        90027.08353817, 149311.17505845, 135477.29248523,  99310.01471835,
       196087.88766155, 139733.56338756, 133602.57948928,  76729.14012142,
       198470.99921424, 231459.97072044,  80831.1823594 , 133032.86537346,
       109253.50473008, 198229.37017955, 101805.76539243, 201183.20060692,
       315896.41443068, 186156.67216528, 259841.35681981, 144296.38052729,
       258746.45106146, 141609.43037888, 179581.5808185 , 129658.30901243,
       349089.65337436, 122455.20843534, 154001.99952828, 246901.00213694,
       144860.37983516, 115616.59766155, 197546.88653077, 198263.16532898,
       198848.94969843, 144340.42759553,  66469.01442941, 184802.89205538,
       266083.11281281, 155519.08427415, 247137.84016406, 192144.675732  ,
       210184.44357137,  99334.51761675, 106379.52185055, 189641.53907728,
       185040.91208959, 176997.02680857, 156430.34990894, 388886.76115144,
       199178.61036178, 174035.87089116,  97543.5981809 , 174466.3200395 ,
       185675.15072461, 198618.23919786, 252653.9846803 , 298073.66839454,
        77416.97064008, 247476.25477396, 185704.79029333, 180603.34125875,
       355611.014434  , 194543.36565186, 217986.26815293, 105767.71884642,
       132117.78112471, 168289.42487588, 195048.19828686, 106362.6989713 ,
       139796.38090936, 264602.74046398, 242806.85050974, 206751.22373907,
       142302.27729058, 186306.70314075, 205999.09579871,  92657.47051504,
       192798.36277897, 129232.63245342, 193961.67213023, 167438.80090843,
       152799.41048977, 281717.65629851, 185723.84901043, 190032.42524277,
       148198.33926263, 151890.02242732, 193439.74961901, 233304.82599454,
       214383.12553019, 232168.88679019, 210905.21641414, 212947.18698413,
       100296.87205691, 248870.24296654, 170455.83882564, 275486.28404638,
       127372.84150849, 271236.47720406,  62425.81314718, 108949.78118078,
        88173.28507641, 288565.36193626, 214695.35473464, 167419.68562213,
        96648.56240148, 162356.50572406, 141924.8128719 , 171624.25819497,
       149261.49733468, 209312.37876692, 218343.59653678, 110106.2083029 ,
       118880.80538163, 318824.27221413, 175541.70523981, 132022.46470553,
       220171.16396155, 152679.012246  , 240693.02989919, 167033.14875213,
       118053.48674309, 229406.75888836, 223555.80696704, 111705.88844925,
       103531.10871465, 120294.48539003, 153904.89964713,  84752.35519639,
       209066.5246035 , 146422.77108754, 165702.469522  , 343072.09095551,
       156257.14553596, 207807.98798242, 140262.25968448, 120354.27537834,
       189741.96483555, 171054.62055737, 254426.21579443, 198953.3270755 ,
       276444.76162512, 204274.27735224, 166037.44442756, 218363.63318104,
       183023.60067091, 238558.24879459, 191700.67300414, 197787.49230556,
       138564.08154068, 172893.78120483, 160991.24000462, 198103.74558727,
       340406.93542445, 172344.36626002, 196150.9199152 , 243952.9699078 ,
       282640.03003139, 158350.79157961, 234648.30846621, 246836.88603648,
       139923.33168791, 219640.8490729 , 213175.72769942, 204222.7906176 ,
       183970.47293925, 167953.08405146, 206482.54018688, 188944.10602069,
       211801.25244649, 225396.00357265, 114899.77898978, 115612.19217923,
       160530.33475569, 163124.64249265, 259671.94279891, 111360.97149972,
       243856.81838827, 133196.587509  , 133770.01681983, 262832.17689535,
       134183.31960948, 195213.37707509, 177339.73791874, 215890.45811536,
       245260.94814348, 201622.51879607, 209688.36669073, 239810.19880412,
       192413.43734033, 198400.73189548, 224526.23576934, 250469.56911665,
       124746.69654526, 132490.3282199 , 174613.4730769 , 162128.35076327,
       182358.96568284,  95125.82224796, 143122.17894741, 161060.40206741,
       137928.36039316, 137096.02265244, 148779.94803898,  47022.32726452,
       312131.60815518, 223582.02715853,  63627.36371142, 258208.77509934,
       150806.92949277, 262857.96411386, 164702.97382956, 114166.43751879,
       179181.29948343, 177445.01428423, 342173.59570294, 336678.61087081,
       153620.07510888, 198225.74137152, 217417.39811005, 184834.78779189,
       167326.70165288,  93851.78532094, 263553.73019884, 161197.46295302,
       206235.56702907, 127754.44647038, 315406.7058189 , 266324.54241439,
       183216.3915999 , 246847.43875191, 249145.19302774,  60485.21439916,
       376863.14305729, 120155.82497795, 184212.79750876, 127732.64764041,
       187525.77836217, 106362.04279643,  38486.79496619, 139705.42592947,
       104479.37994157, 161336.84826247, 133250.51522276, 216269.20532614,
       175350.32248434, 184907.41688494, 154026.11283507, 238604.61207089,
       275771.45385702, 100554.75217987, 187902.12546316,  80116.08833601,
       166195.828775  , 123729.40168027, 215593.76490338, 230181.55318137,
       267955.19556604, 246794.19792389,  92185.56002853, 182929.8910775 ,
       178232.21144974,  94234.25483865, 122615.72440856, 108348.83071555,
       185280.33151396, 297257.34761829, 163282.59589823, 282091.21981834,
       184071.89601687, 122564.55883507, 135418.23894042, 111539.89496625,
       120070.76253804, 284736.65148287, 211990.30834728, 233505.39810446,
       249146.27967588, 130811.11129508, 120594.45919775,  57040.31665004,
       232707.00784355, 162839.0876397 , 224512.85708154, 142728.23569298,
       206137.85199791, 186098.41042415,  90702.3538227 , 151498.79431   ,
       201204.07045217, 124577.97623736, 133615.6660897 , 137129.14085859,
       101551.98486682, 143225.32526692, 208392.29124569, 213683.31311571,
       108456.52798775, 254226.25301352, 175330.49191789, 182849.78180002,
       208375.52458607, 214831.64051082, 344591.17650264, 133354.89472377,
       276184.19932574, 255056.41396354, 178534.37694212, 130596.28668781,
       114187.81996284, 132022.94904824, 174582.92799605, 130889.5585989 ,
       194193.36444126,  87437.49691208, 178285.99158184, 158385.01865182,
        98793.98586104, 126346.56831031, 157417.73032302, 118318.40150918,
       179166.31009044, 142743.0764213 , 119691.19067761, 185301.57017812,
       169258.59405585, 189869.24311775, 204970.08883108, 175453.14704625,
       204046.12881597, 216420.93502004, 128249.59772774, 263337.77560332,
       228793.28566897, 240184.47323144, 194419.932408  , 243785.94708624,
       243203.47310493, 224171.17663333, 168854.48223232, 137032.74259773,
       128946.41917903, 119195.03511546,  67752.04262147,  70355.27251675,
       132550.79771395, 215738.62227672, 145228.55148359,  90672.38799773,
       346421.76912591, 174923.13313221, 244622.56445302, 265146.92652689,
       132426.85186886, 206920.23102752, 229799.16610604, 210255.06909169,
       335400.06905537, 167225.05049857, 110683.65733549, 321507.52697576,
       132648.39888514, 122866.781628  , 177732.51321828,  45404.82530603,
       200657.88754152, 177077.06401098, 176681.09136786, 194030.32561788,
       289064.34568754, 170253.54871452, 198367.13557994, 145028.32031759,
       158444.2177596 , 223061.68500817, 166040.90708247, 388962.13698035,
       176090.53982618, 263577.06664098, 196939.46285825, 149085.18794275,
       366478.0468311 , 189901.31458893, 241938.23142879, 289458.33658029,
       196726.35961309, 275640.51743013, 140970.24225416,  86709.97335204,
       229365.20199598,  91985.33168906, 123469.97882524, 177256.50163633,
       150697.69274108, 361906.10593098,  83781.73164831, 177620.96403719,
       190803.38413521, 180235.40092683, 303526.81196021, 265123.0155057 ,
       200271.53301929, 134246.36745435, 222700.09997081, 177424.19598169,
       167488.33136903, 370888.36143685, 148514.37538455, 181049.90734373,
       145063.80721694, 163362.71042112, 134196.76072058, 311934.08433625,
        88325.59528826, 130521.95154241, 177263.36895373,  78251.60271673,
       196425.80292838, 283411.68836509, 211120.80135455, 204132.14541771,
       152223.28099911, 179243.48315044, 184365.87250674, 139703.41218537,
       117683.01283622, 246132.36297312, 174292.09405756, 104632.80998639,
       195286.23660033,  99124.30889761, 255781.59713522, 172802.49954288,
       177082.32232921, 154386.33311909, 213589.17556146, 239236.20469361,
       163393.68757039, 277773.62576166, 275715.74839738, 178058.86489362,
       255610.39277424, 159382.06678801, 176867.46576362, 164878.49715458,
       237197.09854827, 139430.85345854, 235537.39819025, 147196.36509167,
        95432.34020172, 311726.13792942, 252050.39698891, 111365.31956592,
       138688.06884917, 220271.04448045, 133415.70945006, 217836.9117541 ,
       229174.73233995, 200906.75927002, 105073.06731152, 215119.87886211,
       214077.48003903, 127932.80360926, 124369.3192888 , 173683.98442565,
       129432.77438604, 194634.91843614, 219538.7603561 , 177450.13665466,
       160590.15340935, 247520.00871823, 288083.36656795, 111885.39077258,
       125201.55409973, 305289.41082924, 214006.3635707 , 193037.56888538,
       135703.17524567, 249704.75352734, 178157.02162425, 128907.68597929,
       192068.61829533, 146785.79416573, 168740.89075235])

In [22]:
import numpy as np
from sklearn import metrics
test_set_r2 = metrics.r2_score(y1_test, pred)
print(test_set_r2)

0.7630222164561855

In [23]:
lin_reg_mod.predict([[70,85,12000,6,8,100,520,430,1024,950,850,1800,700,150,42]])

array([221263.24355059])

In [63]:
data = {'name':["raj","gree","pushp","shrav","anush","supriya","kaluu","sai","mano","tej"],
        'height':[154,158,162,177,182,168,166,177,154,158],
        'weight':[67,69,71,77,79,73,72,77,67,69],
        'location':["hyd","mum","chen","tn","bangl","srkl","odisa","delhi","goa","kerala"]}
df_data = pd.DataFrame(data)

In [104]:
df_data

      name  height  weight location   bp
0      raj     154      67      hyd   97
1     gree     158      69      mum   99
2    pushp     162      71     chen  101
3    shrav     177      77       tn  107
4    anush     182      79    bangl  109
5  supriya     168      73     srkl  103
6    kaluu     166      72    odisa  102
7      sai     177      77    delhi  107
8     mano     154      67      goa   97
9      tej     158      69   kerala   99

In [105]:
x =df_data[['height']]

In [106]:
x

   height
0     154
1     158
2     162
3     177
4     182
5     168
6     166
7     177
8     154
9     158

In [107]:
y = df_data['weight']

In [108]:
y

0    67
1    69
2    71
3    77
4    79
5    73
6    72
7    77
8    67
9    69
Name: weight, dtype: int64

In [109]:
from sklearn.linear_model import LinearRegression

In [110]:
model=LinearRegression()

In [111]:
model.fit(x,y)

LinearRegression()

In [112]:
model.score(x,y)

0.9977813388115342

In [113]:
model.predict([[154]])

array([67.16838267])

In [124]:
df_data.insert(4,'BP',[97,99,101,107,109,103,102,107,97,99])

In [116]:
df_data

      name  height  weight location   bp
0      raj     154      67      hyd   97
1     gree     158      69      mum   99
2    pushp     162      71     chen  101
3    shrav     177      77       tn  107
4    anush     182      79    bangl  109
5  supriya     168      73     srkl  103
6    kaluu     166      72    odisa  102
7      sai     177      77    delhi  107
8     mano     154      67      goa   97
9      tej     158      69   kerala   99

In [125]:
x = df_data[['height','BP']]

In [126]:
model.fit(x,y)

LinearRegression()

In [127]:
model.score(x,y)

1.0

In [128]:
model.predict([[154,97]])

array([67.])